# Part -1 Python Basics (Variables)

1. Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [ ]:
# Write your code here

print(f"""
Name : Amin
Fathers Name : Sadruddin
Date of birth : 20 Feb 1983""")

Name : Amin
Fathers Name : Sadruddin
Date of birth : 20 Feb 1983

2. Write your small bio using variables and print it using print function

In [ ]:
# Write your code here
name = "Amin"
fathers_name = "Sadruddin"
dob = "20-Feb-1983"

print(f"""
My name is {name} and my fathers name is {fathers_name} and my date of birth is {dob}""")

My name is Amin and my fathers name is Sadruddin and my date of birth is 20-Feb-1983

3. Write a program in which use all the operators we can use in Python

In [ ]:
# Write your code here
a = 10
b = 20
c = 30
#add
d = a+b
print(d)
# sub
e = b-a
print(e)
# mul and div and moduler and exponent
f = e*d
print(f)
g = e/d
print(g)
h = e%d
print(h)
i = e//d
print(i)
j = e**a
print(j)

30
10
300
0.3333333333333333
10
0
10000000000

4. Completes the following steps of small task:
    - Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
    - Mention Variable of Total Marks and assign 300 to it
    - Calculate Percentage

In [ ]:
# Write your code here
# English , Islamiat and Maths
eng_marks = int(input("Enter your English Marks: "))
islamiat_markes = int(input("Enter your Islamiyat Marks: "))
maths_markes = int(input("Enter your Maths Marks: "))

# Mention Variable of Total Marks and assign 300 to it
total_marks = 300

# Calculate Percentage
percentage = (eng_marks + islamiat_markes + maths_markes)/total_marks*100

print(f"Your percentage is {percentage}")

Enter your English Marks: 22
Enter your Islamiyat Marks: 22
Enter your Maths Marks: 22
Your percentage is 22.0

# Part -2 Python Basics (Conditional Statements)

1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
#Type your code here
salary  = int(input("Enter you Salary : "))
no_years = int (input("Enter your Years of Services: "))

if no_years > 5:
  bonus = salary * 5/100
  print(f"you are elegle for the bonus and your bonus amount is ****** {bonus}****")
else:
  print(f" not elegle for the bonus ")

Enter you Salary : 99000
Enter your Years of Services: 17
you are elegle for the bonus and your bonus amount is ****** 4950.0****


2) Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible

In [11]:
#Type your code here

age = int (input (" Enter you age : "))

if age > 17:
  print ("you are eligile for the voting ")

else:
  print (" your are under age and not elegible for the voting ")

 Enter you age : 21
you are eligile for the voting


3) Write a program to check whether a number entered by user is even or odd.

In [14]:
#Type your code here

a1 = int(input(" please enter the number: "))

if a1 % 2 == 0:
  print( a1 , " is even number")
else:
  print( a1 , " is odd number")

 please enter the number: 23
23  is odd number

4) Write a program to check whether a number is divisible by 7 or not.
Show Answer

In [17]:
#Type your code here

a2 = int (input("Enter the number: "))

if a2 % 7 == 0:
  print(a2 , " number is Divisible by 7")

else:
  print(f" {a2} in not Divisible by 7")

Enter the number: 49
49  number is Divisible by 7

5) Write a program to display
"Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [21]:
#Type your code here

a3 = int (input("Enter the number: "))

if a3 % 5 == 0:
  print("Hello")

else:
  print("Bye")

Enter the number: 5
Hello

7) Write a program to display the last digit of a number.

In [24]:
#Type your code here
a6 = int (input("Enter the number: "))

print(a6 % 10)

Enter the number: 5786
6

In [26]:
# or thru Sliceing
a7 = int (input("Enter the number: "))
a8 = str(a7)
print(a8[-1])

Enter the number: 5786
6

9) Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [28]:
#Type your code here
lenght = int(input("Enter the Lenght: "))
breadth = int(input("Enter the Breadth: "))

if lenght != breadth:
  print("It is Rectangle")
else:
  print("It is Square")

Enter the Lenght: 333
Enter the Breadth: 333
It is Square

In [29]:
lenght = int(input("Enter the Lenght: "))
breadth = int(input("Enter the Breadth: "))

if lenght == breadth:
  print("It is Spuare")
else:
  print("It is Rettangle")

Enter the Lenght: 333
Enter the Breadth: 334
It is Rettangle

10) Take two int values from user and print greatest among them.

In [34]:
# Type your code here

f_value = int (input ("Enter the First Value : "))
s_value = int (input ("Enter the Second Value : "))

if f_value > s_value:
  print(f"Frist value {f_value} Greater the Second Value {s_value}" )
else:
    print(f"Frist value {f_value} not Greater the Second Value {s_value}" )

Enter the First Value : 8000
Enter the Second Value : 7000
Frist value 8000 Greater the Second Value 7000

11) A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

In [37]:
#Type your code here

quentity = int(input("Enter the Quantity and  1 unit cost is 100: "))

total_cost = quentity *100

if total_cost > 1000:
  total_cost = total_cost - total_cost *10/100
  print(f" total cost is {total_cost}" )
else:
  print(f" total cost is {total_cost}" )

Enter the Quantity and  1 unit cost is 100: 11
 total cost is 990.0

12) A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [39]:
#Type your code here

marks = int (input("Please enter your total makrs"))

if marks >= 80 and marks <  101:
  print("your total marks are ", marks, " and your grade is A")

elif marks >= 60  and marks < 80:
  print("your total marks are ", marks, " and your grade is B")

elif marks >= 50 and marks < 60:
  print("your total marks are ", marks, " and your grade is C")

elif marks >= 45 and marks < 50:
  print("your total marks are ", marks, " and your grade is D")

elif marks >= 25 and marks < 45:
  print("your total marks are ", marks, " and your grade is E")

elif marks  < 25:
  print("your total marks are ", marks, " and your grade is F")

else:
  print("invalid marks")

Please enter your total makrs100
your total marks are  100  and your grade is A

14)A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

- Number of classes held

- Number of classes attended.

And print

- percentage of class attended

- Is student is allowed to sit in exam or not.

In [40]:
#Type your code here
class_held = int(input("Enter the Number of Classes Held: "))
class_attend = int(input("Enter the Number of Classes Attended: "))
percentage = (class_attend / class_held *100 )

print (f" percentage of class attended {percentage}")

if percentage < 75:
  print(" your are not allow to sit in exam ")
else:
  print(" your are allow to sit in exam")

Enter the Number of Classes Held: 10
Enter the Number of Classes Attended: 8
 percentage of class attended 80.0
 your are allow to sit in exam

15) Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [47]:
#Type your code here

class_held = int(input("Enter the Number of Classes Held: "))
class_attend = int(input("Enter the Number of Classes Attended: "))
medical_cause = bool(input(" absent due to any madical cause or not :"))
percentage = (class_attend / class_held *100 )

print (f" percentage of class attended {percentage}")

if percentage < 75 and medical_cause == False:
  print(" your are not allow to sit in exam ")
else:
  print(" your are allow to sit in exam")

Enter the Number of Classes Held: 10
Enter the Number of Classes Attended: 7
 absent due to any madical cause or not :True
 percentage of class attended 70.0
 your are allow to sit in exam

16) Write a program to check if a year is leap year or not.

If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [48]:
#Type your code here
year = int(input (" please enter the year : "))

if year % 400 == 0:
  print(year, " is leap year")
else:
  print (year," not and leap year")

 please enter the year : 2000
2000  is leap year

17) Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [52]:
#Type your code here

age = int(input("enter the age : "))
gender = str(input("enter the gender (Male / Female) : "))
marital_status = input("enter the marital status (yes / No): ")

if gender == "Female" and age >= 20 and age <= 60:
  print("she will work only in urban areas.")
elif gender == "Male" and age >= 20 and age <= 39:
  print("he may work in anywhere")
elif gender == "Male" and age >= 40 and age <= 60:
  print("he will work in urban areas only.")
else:
  print(" age error")

enter the age : 60
enter the gender (Male / Female) : Female
enter the marital status (yes / No): Yes
she will work only in urban areas.

6) Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
     Unit                                                     Price  
uptp 100 units                                             no charge
Next 200 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs.3500
(For example if input unit is 97 than total bill amount is Rs.0
(For example if input unit is 150 than total bill amount is Rs.750

In [59]:
units = int(input("enter the units : "))
unit_price = 0

if units <= 100:
  print("no charges , total amount of bill is 0.00")
elif units >100 and units <= 200:
  unit_price = units * 5
  print("your electricity charges are " , unit_price)
else:
  unit_price = units * 10
  print("your electricity charges are " , unit_price)

enter the units : 150
your electricity charges are  750

13) Take input of age of 3 people by user and determine oldest and youngest among them.

In [60]:
user1 = int(input("Enter the age of user1: "))
user2 = int(input("Enter the age of user2: "))
user3 = int(input("Enter the age of user3: "))

if user1 > user2 and user1 > user3:
  print("user1 is oldest")
elif user2 > user1 and user2 > user3:
  print("user2 is oldest")
else:
  print("user3 is oldest")

if user1 < user2 and user1 < user3:
  print("user1 is youngest")
elif user2 < user1 and user2 < user3:
  print("user2 is youngest")
else:
  print("user3 is youngest")

Enter the age of user1: 33
Enter the age of user2: 34
Enter the age of user3: 35
user3 is oldest
user1 is youngest